[user]
    name = mookle
    email = <EMAIL>
[core]
    editor = vim
[color]
    status = auto
    ui = true
[color "status"]
    added = green
    changed = blue
    untracked = normal
    deleted = red
