[alias]
    prune = fetch --prune
[core]
    editor = nvim
    fileMode = false
[color]
    ui = auto
[color "status"]
    added = green
    changed = yellow
    untracked = normal
    deleted = red
[init]
    defaultBranch = main
[github]
    user = {{ git_user }}
[merge]
    ff = only
[pull]
    rebase = false
[push]
    followTags = true
    autoSetupRemote = true
[status]
    statusUntrackedFiles = all
[user]
    name = {{ git_user }}
    email = {{ git_email }}
